.slogan {
	color: #F6B618;
}


.header-nav {
	padding: 0px !important;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 4px 4px rgba(143, 168, 175, 0.25);
}

/* .box-cat {
    background-color: #ffca7bf1;
} */

.instructors {
	background: #ffdeacf1;
}

.fill-background {
	background: #eee6db8f;
}

.line-top {
	border-top: 5px solid #41382c
}

footer {
	background-color: #DABB4F
}

.background-hoc {
	background-image: url("../../img/AU-wish.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* button hover */