.slogan {
    color: #F6B618;
}

/* .course {
    background: #ffdeacf1;
}

.instructors {
    background: #ffdeacf1;
} */

.button_course {
    background-color: #F6B618;
}

;
/* .item {
    background: #F6B618;
} */