{% extends "admin/change_list.html" %}
{% load static %}

<!-- Override extrahead to add Chart.js -->
{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', () => {
  const ctx = document.getElementById('myChart').getContext('2d');

  // Sample data
  const DataCoursePublish = {{data_course_publish | safe}};
  const DataCOurseDraft ={{data_course_draft | safe}}
  const monthNames = ["January", "February", "March", "April", "May", "June",
  "July", "August", "September", "October", "November", "December"];
  
  let ZeroValMonthPuB = [0,0,0,0,0,0,0,0,0,0,0,0]
  let ZeroValMonthD = [0,0,0,0,0,0,0,0,0,0,0,0]

  let monthLabel = []
  let PcourseCount 
  let DCourseCount = []
  console.log(DataCoursePublish);
  console.log(DataCOurseDraft);
  // Parse the dates to JS
  DataCoursePublish.forEach((d) => {
    ZeroValMonthPuB[d.date-1] = d.y;
    PcourseCount = ZeroValMonthPuB
  });

  DataCOurseDraft.forEach((d) => {
    ZeroValMonthD[d.date2-1] = d.y;
    DCourseCount = ZeroValMonthD
  });
  console.log(monthLabel)

  // Render the chart
  let chart = new Chart(ctx, {
  type: "bar",
  

  data: {
     labels : monthNames,
     datasets: [
        {
          label: "Courses Publish" ,
          backgroundColor: "#79AEC8",
          borderColor: "#417690",
          data: PcourseCount,
        },
        {
          label: "Courses Draft",
          backgroundColor: "#00FF00",
          borderColor: "#00FF00",
          data: DCourseCount,
        }
     ]
  },
   options: {
      scales: {
        y: {
          beginAtZero: true
        }
      },
      title: {
        text : "Monthly Statistics ",
        display: true
      }
  },
});
});
</script>
{% endblock %}

{% block content %}
<!-- Render our chart -->
<div class= "col-md-6 col-sm-12">
  <div class ="card">
      <div class="card-header">
        <h5> Course-chart </h5>
      </div>
      <div class="card-body">
        <div style="width: 80%;">
          <canvas style="margin-bottom: 30px; width: 60%; height: 50%;" id="myChart"></canvas>
        </div>
      </div>
    </div>
</div>
<!-- Render the rest of the ChangeList view -->
{{ block.super }}
{% endblock %}